header {
  height: 60px;
}
.flex-base {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-center {
  align-items: center;
}
.menu-buttons>li>a {
  text-decoration: none;
  color: black;
}
ul.flex-center {
    width: 200px;
}
.no-padding-margin {
  margin: 0;
  padding: 0;
}
.list-no-style {
  list-style: none;
}
