header {
  height: 60px;
}
.full-height {
  height: 100%;
}
.flex-base {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-center {
  align-items: center;
}
.menu-buttons>li {
  padding-left: 10px;
  padding-right: 10px;
}
.menu-buttons>li>a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.menu-buttons>li:hover, .menu-buttons>li:hover>a {
  background-color: black;
  color: white;
}


ul.flex-center {
    width: 300px;
}
.no-padding-margin {
  margin: 0;
  padding: 0;
}
.list-no-style {
  list-style: none;
}
