/* Selectors for balises */
* {
  font-family: 'Montserrat', sans-serif;
}
header {
  background-color: #FFCE99;
  height: 60px;
}
footer {
  height: 60px;
}
main {
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Selectors for classes */
.image-container {
  width: 500px;
}
.full-height {
  height: 100%;
}
.no-padding-margin {
  margin: 0;
  padding: 0;
}
.list-no-style {
  list-style: none;
}
.flex-base {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.p-base {
  width: 650px;
  text-align: justify;
}
#logo-title {
  font-family: 'Eagle Lake', cursive;
  text-transform: uppercase;
}
/* Complex selectors */
.image-container>img {
  max-width: 100%;
  height: auto;
}
.menu-buttons>li, .footer-buttons>li, .footer-buttons>li>a {
  padding-left: 10px;
  padding-right: 10px;
}
.menu-buttons>li>a, .footer-buttons>li>a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.menu-buttons>li:hover, .menu-buttons>li:hover>a, .footer-buttons>li:hover>a {
  background-color: black;
  color: white;
}
ul.flex-center {
    width: 300px;
}
