/* Selectors for balises */
* {
  font-family: 'Montserrat', sans-serif;
}
body {
  background-image: url('./sitePattern.png');
}
header {
  background-color: #e08d60;
  height: 60px;
  border: 1px solid #c98058;
}

footer {
  height: 60px;
}
main {
  margin-top: 80px;
  margin-bottom: 20px;
}
/* Selectors for classes */
.position-fixed {
  position: fixed;
  width: 100%;
  top: 0;
}
.image-container {
  width: 500px;
}
.rounded-image {
  border-radius: 8px;
}
.full-height {
  height: 100%;
}
.full-width {
  width: 90%;
}
.no-padding-margin {
  margin: 0;
  padding: 0;
}
.list-no-style {
  list-style: none;
}
.flex-base {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.flex-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-row-alternate {
  flex-direction: row-reverse;
}
.p-base {
  width: 650px;
  text-align: justify;
}
.base-card {
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 5px 25px 6px rgba(211,211,211,0.5);
  background-image: url('./cardPattern.png');
  border: 1px solid rgba(211,211,211,0.5);
}
.link-no-style {
  text-decoration: none;
  color: inherit;
}
#logo-title {
  font-family: 'Eagle Lake', cursive;
  text-transform: uppercase;
}
/* Complex selectors */
.image-container>img {
  max-width: 100%;
  height: auto;
}
.menu-buttons>li, .footer-buttons>li, .footer-buttons>li>a {
  padding-left: 10px;
  padding-right: 10px;
}
.menu-buttons>li>a, .footer-buttons>li>a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
.menu-buttons>li:hover, .menu-buttons>li:hover>a, .footer-buttons>li:hover>a {
  background-color: #c98058;
}
ul.flex-center {
    width: 300px;
}
#game-container {
  display: flex;
  flex-direction: row;
}
#game-container>div {
  width: 50px;
  height: 50px;
  background-color: lightgray;
  border: 1px solid black;
}
#game-container>div:hover {
  cursor: pointer;
}
.green-color {
  background-color: green!important;
}
.red-color {
  background-color: red!important;
}
